{% extends "layout.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="margin-top: -25px;height: auto%;background: #fff;font-family: sans-serif;">
  <div class="container">
    <h1 class="display-5 text-center" style="font-family: Oswald;font-weight: bold">DEV PIE</h1>
    <p class="lead text-center"> A place where developers can share and enjoy.
      <span class="badge badge-dark">Register <a href="{{ url_for('register') }}"></a> to share your slice!</span>
    </p>
  </div>
  <img src="/static/images/devpie.jpg" alt="background_image" style="width:100%">
</div>


{% for post in posts %}
        <article class="media content-section ">
          <img class="rounded-circle article-img " src="{{ url_for( 'static', filename='profile_pics/' + post.author.image_file) }} ">
          <div class="media-body ">
            <div class="article-metadata ">
              <a class="mr-2 " href="# ">{{ post.author.username }}</a>
              <small class="text-muted ">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title " href="{{ url_for( 'post', post_id=post.id) }} ">{{ post.title }}</a></h2>
            <p class="article-content ">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}