{"filter":false,"title":"requirements.txt","tooltip":"/__pycache__/requirements.txt","undoManager":{"mark":0,"position":-1,"stack":[[{"start":{"row":49,"column":13},"end":{"row":49,"column":39},"action":"insert","lines":["heroku logs -p postgres -t"],"id":3}]]},"ace":{"folds":[],"scrolltop":649,"scrollleft":0,"selection":{"start":{"row":49,"column":13},"end":{"row":49,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":37,"state":"start","mode":"ace/mode/text"}},"timestamp":1567073572698,"hash":"891670966215dbc4d1312722a9eaffba0cec7382"}